[user]
name = "Grant Yoshida"
email = "enoki.enoki@gmail.com"

[diff]
color = auto

[status]
color = auto

[pager]
color = true

[alias]
check = checkout
com = commit -a
dif = diff
difc = diff --cached
st = status -a
br = branch
wc = whatchanged
